*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    margin: 0;
}

body{
    margin: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: calc(100% + 2vh);
}

h2{
    font-size: calc(50% + 2vh);
}

p{
    padding: 2vh 2vh 2vh 0vh;
    font-size: 3vh;
}

a{
    text-align: center;
    justify-content: center;
    font-size: 1em;
    color: rgb(0, 0, 0);
    z-index: 5;
}
a:hover{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-in-out;
    
}

.anclas{
    height: 4vh;
    font-size: 2em;
    width: 4vw;
    text-align: center;
}


 .anclas > i{
    text-align: center;
    justify-content: center;
    font-size: 1em;
    color: rgb(0, 0, 0);
    z-index: 5;
    
}

.anclas > i:hover{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease-in-out;
    
}

aside{
    position: fixed;
    right: 0;
    top: 33vh;
    width: 4em;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    background-color: rgba(108, 0, 0, 0.5);
    /*SOLO FUNCIONA EN FIREFOX // Para hacer que el color haga de filtro "diferencial" con respecto a su fondo*/
    -webkit-mix-blend-mode: luminosity;
    mix-blend-mode: luminosity;
    border-radius: 2.5em 0em 0em 2.5em;
}

/* .contact{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: -10vh;
    left: -10vh;
    color: beige;
    font-size: 10vh;
    z-index: 10;
    border: 10vh solid black;
} */


.section{
    display: flex;
    flex-direction: column;
    justify-content: safe;
    align-items: center;
    align-content: center;
    /* padding: 7.5vh; */
    width: 100vw;
    height: 100vh;
    padding-top: calc(4vh + 2vw);

}

.section2{
    background-color: tomato;
}

.bio{
    display: grid;
    grid-template-columns: 66vw;
}

.gallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    z-index: 0;
}

img{
    max-height: 17vw;
    padding: 5vh;
}

img:hover{
    max-height: 15vw;
    transition: max-height 0.5s ease-in-out, background-color 0.25s ease-in-out;
    background-color:rgba(0, 0, 0, 0.397);
    border-radius: 50vw;
}

footer{
    color: beige;
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2vw 0vw 2vw 0vw;
}

/*Estilos contact form*/

.wrapper_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: tomato;
}

.wrapper_contact > h1{
    font-size: calc(4vw + 5vw);
    font-weight: 700;
    padding-left: 2vh;

}

form{
    display: flex;
    flex-direction: column;
}

form > input, textarea{
    justify-content: center;
    min-width: 75vw;
    max-width: 60vh;
    min-height: 1.5em;
    margin: 1em;
    padding: 1em;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.25em;
}

input{
    font-size: 1em;
}
input:focus, textarea:focus{
    top: 0;
    left: 0;
    font-size: 85%;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    }

[type=button]{
    color: black;
    background-color: rgba(0, 0, 0, 0.25);
}



[value='Submit']:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}

[type=button]:active{
    font-size: 1.25em;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.25);

}



@media (max-width: 768px) {
    .gallery {
      display: flex;
      flex-direction: column;
  }
 img{
      max-height: 55vw;
  }
  img:hover{
    max-height: 40vw;
  }
  .section2{
      height: calc(100vh + 150vh);
  }
  p{
    padding: 2vh 2vh 2vh 0vh;
    font-size: 1.5em;
}
}